@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
    height: 900px;
}


.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Be Vietnam', sans-serif;
    background-color: #81ecec;
    padding: 60px;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content {
    text-align: center;
    margin-bottom: 40px;
    font-size: 33px;
    font-weight: 700;
}

.form > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.input-group > .input-memer {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.input-memer > input {
    font-size: 16px;
    outline: none;
    border-radius: 1px;
    border: none;
    font-family: 'Be Vietnam', sans-serif;
    padding: 3px 0px 5px 3px;
    transition: all .5s;
}

.input-memer > input:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-memer > label {
    font-weight: 600;
}



.infor-user > .input-memer{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.input-memer > .button-register {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 20px;
    color: white;
    background-color: #d63031;
    transition: all .5s;
}

.input-memer > .button-register:hover {
    background-color: #fa1e1e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}