
.search-bar {
    width: 1400px;
    margin: auto;
}

.tiltle-cate {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brand-name {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
}

.brand-name > .link-category {
    border: 1px solid rgb(129, 122, 122);
    margin: 0 10px;
    border-radius: 4px;
    background-color: #fff;
}

.brand-name > .link-category > img {
    height: 80px;
    transition: all .5s;
}

.brand-name > .link-category:hover {
    border-color: #06c1d4;
}


.tiltle-brand-name,
.tiltle-price-range  {
    font-size: 26px;
    font-weight: 500;
}

.price-range {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
}

.content-price-range {
    margin-left: 20px;
}


.content-price-range > ul{
    display: flex;
    font-size: 18px;
    align-items: center;
}

.content-price-range > ul > li {
    margin: 0 10px;
    background-color: #f3f5f8;
    min-width: 70px;
    color: #222f3e;
    padding: 10px 20px;
    transition: all .3s;
}

.content-price-range > ul > li:hover {
    background-color: #06c1d4;
    color: #f3f5f8;
}

.content-price-range > ul > li > a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
